@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
    color: white;
}

/*barra de rolagem*/

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: black;
}

::-webkit-scrollbar-thumb {
    background: #130542;
    border-radius: 30px;
}

/*navbar*/

#nav-bar {
    width: 100%;
    background-color: #110E1B;
    color: white;
    height: 50px;
    position: fixed;
    border-bottom-style:groove;
    border-width: 0.1px;
    border-color:#130542;
    font-family: 'Montserrat', sans-serif;
}
#nav-bar-container {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
#nav-bar-items {
    display: flex;
    list-style: none;
    color: #cccc;
    
}
#nav-bar-items li {
    padding: 10px;
}
#showcase img {
    width: 300px;
    height: 300px;
}
#showcase-container img {
    height: 20px;
    width: 20px;
    margin-right: 5px;
}
button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #130542;
    color: white;
    width: 170px;
    height: 50px;
    margin-top: 25px;
    border-style:double;
    user-select: none;
    cursor: pointer;
}

/*showcase*/
#showcase {
    height: 550px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: #110E1B;
    font-family: 'Montserrat', sans-serif;
}
#showcase-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#showcase-container h2 {
    font-size: 3.7rem;
}
#showcase-container p{
    font-size: 1.8rem;
}
#eu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #0E001B;
    color: white;
    height: 650px;
    font-family: 'Montserrat', sans-serif;
}
#eu-container h3{
    font-size: 50px;
    margin-bottom: 20px;

}
#eu-container p{
    font-size: 20px;
    color: #cccc;
}
#projetos {
    background-color: #110E1B;
    display: grid;
    justify-items: center;
    align-items: center;
    color: white;
    font-family: 'Montserrat', sans-serif;

}
#projeto-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 50px;

}
#projetos h3 {
    font-size: 50px;
}
/*card*/
#card {
    background-color:#0E001B;
    height: 100px;
    width: 400px;
    border-radius: 20px;
    display: grid;
    align-items: center;
    justify-items: center;
}
#card h4 {
    font-size: 20px;
    margin-bottom: 15px;
}
/*contato*/
#contato {
    font-family: 'Montserrat', sans-serif;
    background-color:#0E001B;
    color: white;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    grid-column-gap: 20px;
}
#contato-container button {
    width: 80px;
    height: 40px;
}
#contato img {
    height: 500px;
    width: 500px;
}
#footer-container {
    height: 100px;
    background-color: #110E1B;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}
#footer-container img{
    margin-right: 10px;

}
@media(max-width: 414px) {
    #nav-bar {
        font-size: 14px;
    }
    #contato img, #eu img {
        display: none;
    }
    #apaga {
        display: none;

    }
    #showcase h2 {
        font-size: 50px;
    }
    #showcase p {
        font-size: 25px;
    }
    button {
        height: 30px;
    }
    #eu {
        height: 750px;
    }
    #eu-container {
        padding: 30px;
    }
    #eu-container h3 {
        font-size: 40px;
    }
    #eu-container p {
        font-size: 20px;
    }
    #projetos {
        height: 750px;
    }
    #projetos h3 {
        font-size: 30px;
    }
    #projeto-container {
        display:grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 50px;
    }
    #card {
        width: 350px;
    }
    footer {
        font-size: 12px;
    }
    #contato {
        height: 630px;
    }
    #contato-container {
        display: grid;
        justify-content: center;
        padding-left: 10px;
        height: 500px;
        width: 300px;
    }
}
@media(max-width: 375px) {
    #nav-bar {
        font-size: 12px;
    }
}